<table class="table">
    <thead>
    <tr>
        <th>Common name</th>
        <th>Finger print</th>
        <th>IP</th>
        <th>Registration Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {{#each csrs as |csr|}}
        {{#unless csr.is_removed}}
            <tr>
                <td>{{csr.cn}}</td>
                <td>{{csr.fprint}}</td>
                <td>{{csr.reg_ip}}</td>
                <td>{{csr.reg_date}}</td>
                <td>
                    {{#unless csr.is_approved}}
                        <button {{action "sign" csr}} class="btn btn-success">Sign</button>
                        <button {{action "delete" csr}} class="btn btn-danger">Delete</button>
                    {{else}}
                        <span class="label label-info">
                        <span class="glyphicon glyphicon-check"></span>
                            Signed
                        </span>
                    {{/unless}}
                </td>
            </tr>
        {{/unless}}
    {{/each}}
    </tbody>
</table>