<table class="table">

    <thead>
    <tr>
        <th>Username</th>
        <th>Admin</th>
        <th>Last login</th>
        <th>Login attempts</th>
        <th>Groups</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{#each users as |user|}}
        <tr>
            <td>
                {{#link-to "users.edit" user data-toggle="modal" data-target="#modal"}}
                    {{user.username}}
                {{/link-to}}
            </td>
            <td>{{input type="checkbox" checked=user.is_admin}}</td>
            <td>{{user.last}}</td>
            <td>{{user.attempts}}</td>
            <td>
                <div class="tokenfield" style="max-width: 250px;">
                    {{token-field values=user.groups valid_values=groups}}
                </div>
            </td>
            <td>
                {{#if user.hasDirtyAttributes}}
                    <button {{action "save" user}} class="btn btn-success">Save</button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
